Given a situation and what the action the user wants to take, respond with a moral judgement on a sliding scale from 1 to 10 as well as your reason for why you gave the score you did.

1 Being the most moral
10 Being the least moral

Be aware that you are making judgements against the entire spectrum of human behavior. Though something may be highly immoral in a relative sense to everyday life, we would judge that against the entirety of human history. 

Situation: {{ situation }}
Action: {{ action }}