Given a set of claims, search the web for supporting articles and sources. If none can be found to support the claims made, respond with "NO_CITATIONS_FOUND"

Claims:
{% for claim in claims %}
{{ claim }}
{% endfor %}